


            <div class="card mb-4">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Create an Account
                  </h5>
                  <p class="text-center small">
                    Enter your personal details to create account
                  </p>
                </div>

                <form class="row g-3 needs-validation"  #f="ngForm" (ngSubmit)="submit(f)">
                  <div class="col-12">
                    <label  class="form-label">Username</label>
                    <input
                      type="text"
                      name="username"
                      class="form-control"
                      ngModel
                      required
                      #username="ngModel"
                    />
                    <div class= "message-invalid" *ngIf="username.invalid && username.touched">
                      Please, enter your Username!</div>
                  </div>

                  <div class="col-12">
                    <label  class="form-label">Your Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      ngModel
                      #email="ngModel"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      required
                    />

                    <div class= "message-invalid" *ngIf="email.invalid && email.touched" >
                      Please enter a valid Email address!
                    </div>
                  </div>


                  <div class="col-12">
                    <label  class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      ngModel
                      #password="ngModel"
                      required
                    />
                    <div class= "message-invalid" *ngIf="password.invalid && password.touched">
                      Please enter your password!
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit"
                            [disabled]="f.invalid">

                      Create Account
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Already have an account?
                      <a (click)="close()">Log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>

            <div class="credits">
              Designed by <a >NextHope</a>
            </div>



<!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
