<style>tbody td {
  font-weight: bold;
}</style>
<section class="section" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Equipe</h2>

          <div
            class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"
          >
            <div class="dataTable-container">
              <table class="table datatable dataTable-table">
                <thead>
                <tr>
                  <th scope="col" data-sortable="" style="width: 9.203%">
                    Nom Equipe
                  </th>
                  <th scope="col" data-sortable="" style="width: 28.0558%">
                    Niveau
                  </th>

                  <th>Action</th>
                </tr>
                </thead>
                <tbody *ngFor="let equipe of equipes">
                <tr>

                  <td style="color: #256d85">{{ equipe.nomEquipe }}</td>
                  <td style="color: #7743db">
                    {{ equipe.niveau }}
                  </td>

                  <td style="display: flex; gap: 8px">
                    <button
                      mat-fab
                      (click)="deleteEquipe(equipe.idEquipe)"
                      style="
                          width: 30px;
                          height: 30px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      color="primary"
                      aria-label="Example icon button with a delete icon"
                    >
                      <mat-icon
                        style="height: 18px; width: 18px; font-size: 18px"
                      >delete</mat-icon
                      >
                    </button>
                    <button
                      mat-fab
                      (click)="openEditEquipeDialog(equipe)"
                      style="
                          width: 30px;
                          height: 30px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      color="accent"
                      aria-label="Example icon button with a delete icon"
                    >
                      <i style="font-size: 12px" class="bi bi-gear"></i>
                    </button>
                  </td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="dataTable-bottom">
              <button
                (click)="openAddEquipeDialog()"
                mat-raised-button=""
                color="primary"
                class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
              >
                <span
                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"
                ></span
                ><span class="mdc-button__label">Add Contrat</span
              ><span class="mat-mdc-focus-indicator"></span
              ><span
                matripple=""
                class="mat-ripple mat-mdc-button-ripple"
              ></span
              ><span class="mat-mdc-button-touch-target"></span>
              </button>
            </div>
          </div>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </div>
</section>
