<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'dashboard'">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contrat'">
        <!--        <i class="bi bi-journal-check"></i>-->
        <i class="fa-solid fa-file-contract fa-lg padding__right__fa"></i>
        <span>Contrat</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'club'">
        <i class="bi bi-suit-club-fill"></i>
        <span>Club</span>
      </a>
    </li>
    <!-- End Club Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/etudiant'">
        <i class="fa-solid fa-user-tie fa-lg padding__right__fa"></i>
        <span>Etudiant</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/professor'">
        <i class="fa-solid fa-user-tie fa-lg padding__right__fa"></i>
        <span>Professor</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/universite'">
        <i
          class="fa fa-university fa-lg padding__right__fa"
          aria-hidden="true"
        ></i>
        <span>Universite</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/equipe'">
        <i class="fa-solid fa-chalkboard-user fa-lg padding__right__fa"></i>
        <span>Equipe</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/departement'">
        <i class="fa-solid fa-building fa-lg padding__right__fa"></i>
        <span>Departement</span>
      </a>
    </li>


    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/profile'">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->






  </ul>
</aside>
<!-- End Sidebar-->
