<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="''">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contrat'">
        <!--        <i class="bi bi-journal-check"></i>-->
        <i class="fa-solid fa-file-contract fa-lg padding__right__fa"></i>
        <span>Contrat</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contrat'">
        <i class="fa-solid fa-user-tie fa-lg padding__right__fa"></i>
        <span>Etudiant</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contrat'">
        <i
          class="fa fa-university fa-lg padding__right__fa"
          aria-hidden="true"
        ></i>
        <span>Universite</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/equipe'">
        <i class="fa-solid fa-chalkboard-user fa-lg padding__right__fa"></i>
        <span>Equipe</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contrat'">
        <i class="fa-solid fa-building fa-lg padding__right__fa"></i>
        <span>Departement</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contrat'">
        <i class="fa-solid fa-circle-info fa-lg padding__right__fa"></i>
        <span>Detail Equipe</span>
      </a>
    </li>

    <!-- End Contrat Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/profile'">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contact'">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/register'">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/login'">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/error'">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/blank'">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
