
<section class="section" style="margin-top: 100px">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
             <i class='fas fa-id-card	' style='font-size:36px'></i>
            <h2 class="card-title">Etudiants</h2>

            <mat-form-field appearance="outline">
              <mat-label>Rechercher un etudiant</mat-label>
              <input matInput  [(ngModel)]="searchText">
              <mat-icon style="color: navy" matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
              <div class="dataTable-bottom">
                <button
                  (click)="openAddEtudiantDialog()"
                  mat-raised-button=""
                  color="primary"
                  class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
                >
                  <span
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"
                  ></span
                  ><span class="mdc-button__label">Ajouter un etudiant</span
                  ><span class="mat-mdc-focus-indicator"></span
                  ><span

                    class="mat-ripple mat-mdc-button-ripple"
                  ></span
                  ><span class="mat-mdc-button-touch-target"></span>
                </button>
                <button (click)="openAssignEtudiantToDepartementDialog()" type="button" class="btn btn-warning">Affecter un departement a un etudiant</button>
                <button (click)="openaddAndAssignEtudiantToEquipeAndContractDialog()" type="button" class="btn btn-success">Affecter un contrat et une equipe a un etudiant</button>

              </div>

              <div class="dataTable-container">
                <table class="table datatable dataTable-table">
                  <thead>
                    <tr>
                      <th scope="col" data-sortable="" style="width: 9.203%">
                        Nom
                      </th>
                      <th scope="col" data-sortable="" style="width: 28.0558%">
                        Prenom
                      </th>
                      <th scope="col" data-sortable="" style="width: 37.7949%">
                        Option
                      </th>
                      <th scope="col" data-sortable="" style="width: 37.7949%">
                        Envoyer un mail
                      </th>
                      <th scope="col" data-sortable="" style="width: 37.7949%">
                        Voir les événements
                      </th>
                      <th scope="col" data-sortable="" style="width: 9.203%">
                        Departement
                      </th>
                      <th scope="col" >
                        Contrat
                      </th>
                      <th scope="col" data-sortable="" style="width: 9.203%">
                        Equipe
                      </th>
                      <th scope="col" data-sortable="" style="width: 9.203%">Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let etudiant of etudiants | filter:searchText |  paginate: { itemsPerPage: 4, currentPage: PageNumber  }">
                    <tr>
                      <td style="color: #256d85">{{ etudiant.nomE }}</td>
                      <td style="color: #256d85">{{ etudiant.prenomE }}</td>
                      <td style="color: #256d85">{{ etudiant.option }}</td>
                      <td style="color: #256d85"><button (click)="openMailDialog(etudiant.emailE)" type="button" class="btn btn-outline-primary"><i class="fas fa-mail-bulk	"></i></button></td>
                      <td style="color: #256d85">

                        <button (click)="openCalendarDialog(etudiant.idEtudiant)" type="button" class="btn btn-outline-danger"><i class="far fa-calendar-alt	"></i></button></td>

                      <td style="color: #256d85">
                        <div *ngIf="etudiant.departement !=null ; else DepnotFound">
                          <button (click)="openDetailsDepartEtudiantDialog(etudiant.departement.idDepart,etudiant.nomE,etudiant.prenomE)"  type="button" class="btn btn-outline-primary"><i class="fas fa-school	"></i></button>
                        </div>
                      </td>
                        <ng-template #DepnotFound>
                      <td style="color: #256d85">Not assigned </td>
                        </ng-template>


                      <td style="color: #256d85"><button (click)="openDetailsContratEtudiantDialog(etudiant.idEtudiant,etudiant.nomE,etudiant.prenomE)"  type="button" class="btn btn-outline-success"><i class='fas fa-file-contract' ></i></button></td>

                      <td style="color: #256d85"><button (click)="openDetailsEquipeEtudiantDialog(etudiant.idEtudiant,etudiant.nomE,etudiant.prenomE)" type="button" class="btn btn-outline-info"><i class="fas fa-users	"></i></button></td>
                      <td style="display: flex; gap: 8px">
                        <button mat-fab (click)="deleteEtudiants(etudiant.idEtudiant)" style="width: 30px; height: 30px;display: flex;justify-content: center;align-items: center;" color="primary" aria-label="Example icon button with a delete icon">
                          <mat-icon style="height: 18px; width: 18px; font-size: 18px">delete</mat-icon></button>
                          <button mat-fab (click)="openEditEtudiantDialog(etudiant)" style="width: 30px;height: 30px;display: flex;justify-content: center;align-items: center;" color="accent" aria-label="Example icon button with a delete icon">
                            <i style="font-size: 12px" class="bi bi-gear"></i>
                          </button></td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <pagination-controls (pageChange)="PageNumber = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  <h1>fff</h1>
  </section>
