<section class="section" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header  p-1 m-0 d-flex align-items-center  justify-content-between p-3">
          <div class="d-flex justify-content-start ">
            <i class="fa-solid fa-user-tie fa-lg padding__right__fa" style="font-size: 30px;">

            </i>
            <h2 class="card-title col ">Professors List</h2>
          </div>
            <mat-form-field appearance="outline">
              <mat-label>Search For Professors</mat-label>
              <input matInput  [(ngModel)]="firstName">
              <mat-icon style="color: navy" matSuffix>search</mat-icon>
            </mat-form-field>
          </div>

          <!-- Table with stripped rows -->
          <div
            class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-container">
              <table class="table datatable dataTable-table">
                <thead>
                  <tr>
                    <th scope="col" data-sortable="" style="width: 9.203%">
                      First Name
                    </th>
                    <th scope="col" data-sortable="" style="width: 28.0558%">
                      Last Name
                    </th>
                    <th scope="col" data-sortable="" style="width: 37.7949%">
                      Email
                    </th>
                    <th scope="col" data-sortable="" style="width: 19.2995%">
                      Phone
                    </th>
                    <th scope="col" data-sortable="" style="width: 19.2995%">
                      speciality
                    </th>
                    <th scope="col" data-sortable="" style="width: 9.203%">
                        Department
                      </th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let professor of professors | filter: firstName">
                  <tr>
                    <!--                    <th scope="row">{{ professor }}</th>-->
                    <td style="color: #256d85">{{ professor.firstName }}</td>
                    <td style="color: #7743db">
                      {{ professor.lastName }}
                    </td>
                    <td style="color: #d23369">{{ professor.email }}</td>
                    <td>
                      {{ professor.phone }}
                      <i
                        style="color: green; font-weight: bold"

                      ></i>
                    </td>
                    <td style="color: #256d85">{{professor.speciality}}</td>
                    <td style="color: #256d85">

                          <div *ngIf="professor.departement !=null ; else DepnotFound">

                          <button (click)="openDetailsDepartProfessorDialog(professor.departement.idDepart,professor.firstName,professor.lastName)"  type="button" class="btn btn-outline-primary"><i class="fas fa-school	"></i></button>
                        </div>

                      </td>
                        <ng-template #DepnotFound>
                      <td style="color: #256d85">Not assigned </td>
                        </ng-template>
                    <td style="display: flex; gap: 8px">
                      <button
                        mat-fab
                        (click)="deleteProfessor(professor.idProfessor)"
                        style="
                          width: 30px;
                          height: 30px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                        color="primary"
                        aria-label="Example icon button with a delete icon"
                      >
                        <mat-icon
                          style="height: 18px; width: 18px; font-size: 18px"
                          >delete</mat-icon
                        >
                      </button>
                      <button
                        mat-fab
                        (click)="openEditProfessorDialog(professor)"
                        style="
                          width: 30px;
                          height: 30px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                        color="accent"
                        aria-label="Example icon button with a delete icon"
                      >
                        <i style="font-size: 12px" class="bi bi-gear"></i>
                      </button>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="dataTable-bottom" style="display: flex ; gap: 20px;">
              <button
                (click)="openAddProfessorDialog()"
                mat-raised-button=""
                color="primary"
                class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
              >
                <span
                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"
                ></span
                ><span class="mdc-button__label">Add Professor</span
                ><span class="mat-mdc-focus-indicator"></span
                ><span
                  matripple=""
                  class="mat-ripple mat-mdc-button-ripple"
                ></span
                ><span class="mat-mdc-button-touch-target"></span>
              </button>
              <button

                mat-raised-button=""
                color="primary"
                class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
              >
                <span
                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"
                ></span
                ><span class="mdc-button__label">Assign Contract To Professor</span
                ><span class="mat-mdc-focus-indicator"></span
                ><span
                  matripple=""
                  class="mat-ripple mat-mdc-button-ripple"
                ></span
                ><span class="mat-mdc-button-touch-target"></span>
              </button>
              <button (click)="openAssignProfessorToDepartementDialog()"

                mat-raised-button=""
                color="primary"
                class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
              >
                <span
                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"
                ></span
                ><span class="mdc-button__label">Assign Professor To Department </span
                ><span class="mat-mdc-focus-indicator"></span
                ><span
                  matripple=""
                  class="mat-ripple mat-mdc-button-ripple"
                ></span
                ><span class="mat-mdc-button-touch-target"></span>
              </button>
            </div>
          </div>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>

</section>
