<h2 class="card-title">Assign Professor To Department</h2>

<form class="row g-3" >
  <select  name="cars" class="form-control form-control-lg" (change)="ChangeProf($event)">
    <option selected="selected">Select a Professor</option>
    <option *ngFor="let professor of professors;">{{professor.firstName}}</option>
  </select>
  <select class="form-control form-control-lg" (change)="ChangeDep($event)">
    <option selected="selected">Select a Department</option>
    <option *ngFor="let departement of departements;">{{departement.nomDepart}}</option>
  </select>
  <button
    (click)="updateProfessor()"
    type="submit"
    class="btn btn-outline-secondary mx-2"
  >
    <i class="fa-solid fa-pen-nib pe-2"></i>Affect
  </button>
</form>
