<h2 class="card-title">Affecter un etudiant a un club</h2>

<form class="row g-3">
  <select
    name="cars"
    class="form-control form-control-lg"
    (change)="ChangeEtu($event)"
  >
    <option selected="selected">Choisisser un etudiant</option>
    <option *ngFor="let etudiant of etudiants">{{ etudiant.nomE }}</option>
  </select>
  <select class="form-control form-control-lg" (change)="ChangeClub($event)">
    <option selected="selected">Choisisser un club</option>
    <option *ngFor="let club of clubs">
      {{ club.nomClub }}
    </option>
  </select>
  <button
    (click)="updateEtudiant()"
    type="submit"
    class="btn btn-outline-secondary mx-2"
  >
    <i class="fa-solid fa-pen-nib pe-2"></i>Affect
  </button>
</form>
